// Import page-specific CSS files here.
@import "home";

.show-card-index {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  // align-items: center;
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 15px;
  background: white;
}

.btn-view {
  text-decoration: none;
  // color: white;
  background-color: #00AC5B;
  border-radius: 10px;
  letter-spacing: 0.025em;
  font-size: 18px;
}

.btn-view:hover {
  color: #483876;
  text-shadow: 1px 1px 0 #00AC5A
}


.character-trait {
  list-style-type: none;
  font-family: 'Bangers';
  color: #00AC5A;
}

.super-name {
  text-transform: uppercase;
  font-size: 36px;
  font-family: 'Bangers';
  }

.card-title {
  display: flex;
  flex-direction: column;
  // align-items: center;
  color: #483876;
}

.card-select {
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.universe-title {
  color: #00AC5A;
  text-transform: uppercase;
  font-weight: bold;
}

// .card-img-top {
//   border-radius: 15px;
// }

// ul.new-style {
//   justify-content: space-between;
//   color: red !important
// }

.character {
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 15px;
}

img {
  padding: 20px;
  border: 5px solid #00AC5A;
  // width: 200px;
  // margin-bottom: 20px;
}
