<h1>Hello <%= @user.user_name %></h1>

<div class="container profile-banner" Style="border-radius: 50px; display: flex; flex-wrap: nowrap; background-color: rgb(92, 73, 155)">
  <div class="profile-banner-element" style="margin: 6px 8px; background-color: white; display: inline-block; flex-direction: column; align-items: center; margin-top: 5px; font-size: 18px; font-family: 'Helvetica'; color: rgb(72, 56, 118); border-style: solid; border-color: white; border-radius: 50px; padding: 6px 10px;">
    <span> Your Supers </span>
  </div>
  <div class="profile-banner-element" style="margin: 6px 8px; display: inline-block; flex-direction: column; align-items: center; margin-top: 5px; font-size: 18px; font-family: 'Helvetica'; color: white; border-style: solid; border-color: white; border-radius: 50px; white-space: nowrap; padding: 6px 10px;">
    <span> Super Dates </span>
  </div>
</div>

<div class="container profile-overview" >
  <div class="profile-overview">
    <h1 class="rented" style="margin-top: 50px; color: white;">Listed supers</h1>
  </div>
</div>


<%# padding: 20px 100px 10px 100px; %>
<%# padding: 20px 100px 10px 100px; %>
