<h1>Hello <%= @user.user_name %></h1>

<div class="container profile-banner" Style="justify-content: space-around; border-radius: 16px; display: flex;">
  <div class="profile-banner element-active">
    <p> Your Supers </p>
  </div>
  <div class="profile-banner element">
    <p> Super Dates </p>
  </div>
</div>

<div class="container profile-overview">
  <div class="profile-overview">
    <h5 class="rented" style="">Listed supers</h5>
  </div>
</div>
