<h1 class="super">Your Super Selection</h1>

<div class="container col-6 mt-3">
  <div class="show-card">
    <img src="https://res.cloudinary.com/dk3fbg9zm/image/upload/v1645544250/spiderman_aikbu3.png" alt="spiderman" class="hero-avatar">
    <h1>Spiderman</h1>
    <h3>Price £15</h3>
    <img src="https://res.cloudinary.com/dk3fbg9zm/image/upload/v1645544420/strengths_lqfqdf.png" alt="strengths-bar" class="strengths">
  </div>
  <div class="super-description">
      <p><strong>Descrption:</strong>I've been on the hunt for the perfect date for many years. My experience with webs is unmatched. Take me out and lets fly around the city!</p>
      <button onclick="bookedAlert()" id="bookdate">BOOK</button>
  </div>
</div>
<%# super_super_dates_path %>
      <%# <%= "Book Now", class: "btn btn-success", id: "bookdate"%>

      <script>

      function bookedAlert() {
        alert('Booked')
      }
      </script>
