


 <div class="container">
   <div class="container-supers">
      <h1 class="landing-title">SUPERDATES</h1>
      <h2 style="margin-top: 70px;">CHOOSE YOUR SUPERDATE</h2>
      <div class="landing-cards mt-4">
        <div class="card-supers"><%= link_to "HERO", supers_path, class: "super-links" %>
          <%#=image_tag("batman_card.png", width: "130px", height: "100px", class: "super-img") %>
        </div>
        <div class="card-supers"><%= link_to "VILLAIN", supers_path, class: "super-links" %>
        </div>
      </div>
  </div>
</div>
