<div>
  <div class="container">
    <h1>SUPERDATES</h1>
    <div class="container-supers">
      <div class="card_supers"style="width: 18rem;"><%= link_to "HERO", supers_path %>
      </div>
      <div class="card_supers"style="width: 18rem;"><%= link_to "VILLAIN", supers_path %>
      </div>
     </div>
  </div>
</div>
