label {
  display: block;
  font-family: 'Bangers', cursive;
  color: white;
  font-size: 20px;
}

input,
label {
  margin: .4rem 0;
}

input {
  margin-bottom: 20px !important;
}

.form-box {
  display: flex;
  flex-direction: column;
  width: 300px !important;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-btn {
  background-color: #00AC5A;
  padding: 8px 24px;
  border-radius: 10px;
  font-family: 'Bangers', cursive;
}
